In [38]:
import re
import string

import nltk
import pandas as pd

nltk.download('punkt_tab')

from bs4 import BeautifulSoup

def clean_text(text: str) -> str:
    text = BeautifulSoup(text, 'html.parser').get_text() # parsing html
    text = text.lower() # to lower
    text = text.translate(str.maketrans('','', string.punctuation)) # punktuation
    return text

def remove_not_language_sigs(word: str)-> str:
    word = re.sub(r'[^a-z ]', "", word)
    word = re.sub(r'\s+', " ", word)
    return word

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [39]:
df = pd.read_csv("../../data/filtered_data_10000_rows_per_genre.csv")
print(df.columns)

df.head()

Index(['title', 'genre', 'director', 'plot'], dtype='object')

,title,genre,director,plot
0,#1 Fan: A Darkomentary,Comedy,Dee Austin Robertson,"Donnie Darko super fan, Darryl Donaldson makes..."
1,$exce$$,Comedy,Jim Enright,Debi Diamond climbs the corporate ladder the h...
2,'...nettirwnU',Drama,Kaare Andrews,Andrew Herberts is a unpublished author nearin...
3,'15',Drama,Royston Tan,This is the first movie I've seen from Singapo...
4,'68,Drama,Steven Kovacs,'68 covers exactly one year (January 1st throu...

In [41]:
df = df.map(clean_text)
df.head()

,title,genre,director,plot
0,1 fan a darkomentary,comedy,dee austin robertson,donnie darko super fan darryl donaldson makes ...
1,exce,comedy,jim enright,debi diamond climbs the corporate ladder the h...
2,nettirwnu,drama,kaare andrews,andrew herberts is a unpublished author nearin...
3,15,drama,royston tan,this is the first movie ive seen from singapor...
4,68,drama,steven kovacs,68 covers exactly one year january 1st through...

In [42]:
latest_3_columns = df.iloc[:, -3:].applymap(remove_not_language_sigs)

df = pd.concat([df.iloc[:, [0]], latest_3_columns], axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_30672\2066215890.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  latest_3_columns = df.iloc[:, -3:].applymap(remove_not_language_sigs)

In [43]:
df.head()

,title,genre,director,plot
0,1 fan a darkomentary,comedy,dee austin robertson,donnie darko super fan darryl donaldson makes ...
1,exce,comedy,jim enright,debi diamond climbs the corporate ladder the h...
2,nettirwnu,drama,kaare andrews,andrew herberts is a unpublished author nearin...
3,15,drama,royston tan,this is the first movie ive seen from singapor...
4,68,drama,steven kovacs,covers exactly one year january st through de...

In [45]:
df.to_csv("../../data/preprocessed_data.csv", index=False)

# Preprocess for